*{
    border: 0;
    margin: 0;
    padding: 0;
}

html{
    background-color: #00541c;
}

.Header{
    width: 100%;
    height: 400px;

    display: flexbox;
    flex-wrap: wrap;
    background-color:coral;

    float: left;
}

#Curve{
    position: relative;
}

.About{
    position:relative;
    top: 400px;
    background-color: #00541c;
}